body { 
   background-color: aqua;
}

nav {
    display: flex;
    align-items: center;
}

#menuicon {
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    object-fit: contain;
    display: block;
    max-width: none;
}