html, body {
    height: 100%;
    margin: 0px;
    background-color: aqua;
    overflow: hidden;
}

#app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
}

.topicons {
    width: 130px;
    flex: 0 0 130px;
    object-fit: contain;
    display: block;
    max-width: none;
}

.category-container {
    height: 16vh;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.selection-container {
    gap: 1vh;
    display: flex;
    height: 15vh;
    align-items: center;
}

.selection {
    height: 100%;
    aspect-ratio: 1 / 1;
    width: auto;
    background-color: grey;
}

.titletext {
    font-size: 4vh;
}