:root {
    --color1: grey;
    --color2: pink;
}

html, body {
    height: 100%;
    margin: 0px;
    background-color: aqua;
    overflow: hidden;
}

#app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
}

.topicons {
    width: 60px;
    flex: 0 0 60px;
    object-fit: contain;
    display: block;
    max-width: none;
}

.category-container {
    height: 20vh;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    padding: 20px;
}

.selection-container {
    gap: 1vh;
    display: flex;
    height: 25vh;
    overflow-x: auto;
    width: 100%;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: auto;
    background-color: var(--color1);
    border-radius: 20px;
    flex-shrink: 0;
}

.titletext {
    font-size: 4vh;
}

.category-img {
    height: 50%;
    width: 50%;
}

.products-container {
    overflow: auto;
    padding: 20px;
}

.products-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.product {
    background-color: var(--color2);
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

p {
    display: contents;
    font-size: 20px;
    font-weight: 700;
}

a {
    display: contents;
    color: inherit;
}

.infocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color2);
    height: auto;
    border: 1px solid black;
    margin: 20px;
}

#infopic {
    width: 300px;
    border: 1px solid black;
}

#priceandbutton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
}

#price {
    border: 1px solid black;
    background-color: var(--color1);
}